.fundo{
    background:linear-gradient(#ffffff, #bebebe);
}
/*Estilos para o Menu*/
.menu{
    text-align: center;
}
/*Estilos para o titulo*/
.titulo{
    text-align: center;
    font-size: 24px;
}
/*Estilos para o cabeçalho*/
.cabeca ul li{
    display: inline;
    margin-left: 20px;
    color: #000000;
}
/*Estilos para o cabeçalho*/
.cabeca{
    position: absolute;
    top: 2%;
    right: 2%;
    margin-top: 80px;
}
/*Estilos para o rodapé da pagina */
.roda {
    text-align: center;
}
.roda nav ul{
    list-style: none;
    padding: 0%;
}
.roda p{
    margin-bottom: 10px;
}
/* Estilos para o corpo da página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

/* Estilos para a classe card-group */
.card-group {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap; /* Adiciona quebra de linha automática */
    margin-top: 50px;
}

/* Estilos para a classe card */
.card {
    width: calc(33.33% - 20px); /* Calcula a largura para 3 colunas em telas maiores */
    max-width: 300px; /* Limita a largura máxima */
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 10px 20px; /* Adiciona margem inferior */
}

/* Estilos para a imagem dentro da classe card */
.card img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* Estilos para a classe card-body */
.card-body {
    padding:20px;
}

/* Estilos para o título dentro da classe card */
.card-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Estilos para o texto dentro da classe card */
.card-text {
    font-size: 16px;
    color: #555;
    line-height: 1.5;
}

/* Estilos para o texto pequeno dentro da classe card */
.card-text small {
    color: #777;
}

/* Estilos para o link dentro da classe card */
.card-body a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    padding: 10px 0;
    border-radius: 5px;
    margin-top: 20px;
}

.card-body a:hover {
    background-color: #0056b3;
}
@media screen and (max-width: 768px) {
    .card {
        width: calc(50% - 20px); /* Altera para 2 colunas em telas médias */
    }
}

@media screen and (max-width: 576px) {
    .card {
        width: calc(100% - 20px); /* Altera para 1 coluna em telas pequenas */
    }
}